table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 130%;
  margin: auto;

}

th{
	border-bottom: 1px solid black;
	 padding: 8px;
  text-align: center;
}
td{
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

a{

  text-decoration: none;
}

.button-add{

	text-decoration: none;
	color: white;
  background: green;
  padding: 5px;
}